body {
    background-image: url(webt-woman-in-math-lead.jpg.pc-adaptive.full.medium.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#board {
    display: flex;
    transform: translate(100%);
    border: 1px solid black;
}

#problem {
    background-color: #c6cdd0;
    display: flex;
    transform: translate(100%);
    border: 1px solid black;
}

#welcome {
    /* background-color: white; */
    display: flex;
    position: absolute;
    transform: translate(100.6%);
}

#answer {
    display: flex;
    transform: translate(425%);
}


